
  .menu-icon-wrapper {
    display: none;
  }
  
  .menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
  }
  
  .menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  
  }
  
  .menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  
  }
  
  .menu-icon.menu-icon-active {
    background-color: transparent;
  }
  
  .menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  
  .menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }


@media (max-width: 660px){
.menu-icon-wrapper{
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header_top{
  position: relative;
}

.menu_list{
  width: auto;
  flex-direction: column;
}
 .header_menu {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    width: auto;
    background-color: black;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0.8;
}
.header_menu.show {
  display: block;
}
.burger_item{
  display: block;
}

}